@charset "UTF-8";
:root {
  --blue: #07ACEC; }

html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1440px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1440px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

@media only screen and (max-width: 1366px) {
  .contain {
    max-width: 1170px; } }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-regular.woff") format("woff"), url("../fonts/Calibri-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
/*top menu mnu*/
.menu__list > li:not(:last-child) {
  margin-right: 15px; }

.menu__list li {
  position: relative; }

.menu__list a.parent {
  margin-right: 25px; }

.menu__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__link {
  display: block;
  height: 20px; }

.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;
  display: none; }
  .sub-menu__list li {
    padding: 10px; }
  .sub-menu__list > li {
    background-color: #000; }

.sub-menu__link {
  color: #fff; }

.sub-sub-menu__list {
  left: 100%;
  top: 0;
  position: absolute;
  display: none; }
  .sub-sub-menu__list > li {
    background-color: #ccc; }

.menu-arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px); }
  .menu-arrow.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent; }

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block; }

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block; }

body.touch .menu-arrow {
  display: block; }

body.touch .sub-menu__list.open {
  display: block; }

body.touch .sub-sub-menu__list.open {
  display: block; }

@media (max-width: 767px) {
  .menu__list {
    display: block; }
  .sub-menu__list {
    position: static; }
  .sub-sub-menu__list {
    position: static; }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
  .menu-arrow {
    top: 0px;
    right: 5px; }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear; }
    .sub-menu__list.open,
    .sub-sub-menu__list.open {
      max-height: 300px; } }

/*end top menu mnu*/
.btn,
.btn-o,
*[class$="__btn"] {
  transition: 0.5s; }
  .btn:hover,
  .btn-o:hover,
  *[class$="__btn"]:hover {
    text-decoration: none; }

a:hover {
  text-decoration: none; }

.top {
  min-height: 42px;
  background-color: #07acec;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 13px;
  padding-bottom: 12px;
  position: relative; }
  .top:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 200%;
    height: 17px;
    background: url("../img/vawes.svg") repeat-x 0 0; }

.top__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.top__ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .top__ul li + li {
    margin-left: 40px; }
  .top__ul li a {
    color: white;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.fishes {
  width: 137px;
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 92px;
  position: relative; }

.fish1 {
  position: absolute;
  left: 118px;
  bottom: 0;
  transition: 2.4s;
  -webkit-animation: fish2 3s ease infinite;
          animation: fish2 3s ease infinite; }

.fish2 {
  position: absolute;
  left: 20px;
  top: 0;
  -webkit-animation: fish 5s ease infinite, fish-rotate 5s steps(1) infinite;
          animation: fish 5s ease infinite, fish-rotate 5s steps(1) infinite; }

.fish3 {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 2.4s;
  -webkit-animation: fish2 3s ease infinite;
          animation: fish2 3s ease infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.fish4 {
  transition: 2.4s;
  -webkit-animation: fish2 3s ease infinite;
          animation: fish2 3s ease infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.top:before {
  -webkit-animation: vawes 5s ease infinite;
          animation: vawes 5s ease infinite; }

@-webkit-keyframes vawes {
  0% {
    left: 0px; }
  50% {
    left: -20px; }
  100% {
    left: 0px; } }

@keyframes vawes {
  0% {
    left: 0px; }
  50% {
    left: -20px; }
  100% {
    left: 0px; } }

@-webkit-keyframes fish {
  0% {
    left: 20px; }
  50% {
    left: -50px; }
  100% {
    left: 20px; } }

@keyframes fish {
  0% {
    left: 20px; }
  50% {
    left: -50px; }
  100% {
    left: 20px; } }

@-webkit-keyframes fish-rotate {
  0% {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); } }

@keyframes fish-rotate {
  0% {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); } }

@-webkit-keyframes fish2 {
  0% {
    bottom: 0; }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }
  100% {
    bottom: 0;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); } }

@keyframes fish2 {
  0% {
    bottom: 0; }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }
  100% {
    bottom: 0;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); } }

.fish4 {
  position: absolute;
  right: 52px;
  bottom: 0; }

.shops {
  padding-left: 23px;
  background-image: url("../img/anchor.svg");
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 22px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto; }
  .shops span {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    color: white;
    font-size: 16px;
    display: inline-block; }
  .shops:after {
    content: "";
    display: block;
    width: 8px;
    height: 4px;
    display: inline-block;
    background-image: url("../img/arr-b.svg");
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 1.3;
    margin-left: 9px; }

.user {
  line-height: 22px;
  padding-left: 23px;
  display: inline-block;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 40px; }
  .user span {
    color: #FFF;
    font-size: 16px;
    line-height: 1.1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.burger > img {
  margin-right: 10px; }

.top2 {
  padding: 20px 0 18px 0; }

.top2__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  display: inline-block; }

.top2__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 617px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.burger {
  color: #ff9218;
  font-size: 16px;
  font-weight: 700;
  line-height: 4.8;
  text-transform: uppercase;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  padding-left: 23px;
  padding-right: 23px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  border: 2px solid #FF9218;
  background: white;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px; }

.top2__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 2px solid #07ACEC;
  background: white;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 50px;
  overflow: hidden; }

.top2__input {
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  color: #07acec;
  font-size: 16px;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 50px; }
  .top2__input:focus, .top2__input:active {
    border: none;
    outline: none; }
  .top2__input::-webkit-input-placeholder {
    color: #07acec; }
  .top2__input::-moz-placeholder {
    color: #07acec; }
  .top2__input:-ms-input-placeholder {
    color: #07acec; }
  .top2__input::placeholder {
    color: #07acec; }

.top2__btn {
  display: inline-block;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 19px;
  height: 19px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 21px; }

.top2__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.top2__tel-w {
  margin-right: 0px; }

.top2__tel {
  color: #373737;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block; }

.top2__works {
  color: #ABABAB;
  font-size: 14px;
  margin-bottom: 0; }

.top2__cart {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px; }

.tcart__img-w {
  display: inline-block;
  position: relative;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.tcart__num {
  position: absolute;
  top: -5px;
  left: 50px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff9218;
  border-radius: 50%;
  overflow: hidden;
  color: white;
  font-size: 10px;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 19px;
  height: 19px; }

.tcart__text {
  margin-left: 10px;
  color: #07ACEC;
  font-size: 16px;
  border-bottom: 1px solid rgba(7, 172, 236, 0.3); }

.slick-arrow {
  position: absolute;
  z-index: 12;
  border: none;
  background: none;
  font-size: 0;
  background: #F5F7F9 url("../img/arr.svg") no-repeat center;
  top: 50%;
  width: 54px;
  height: 54px;
  background-color: #fdfdff;
  border-radius: 50%; }
  .slick-arrow li button {
    padding: 0;
    border: none; }

.slick-prev {
  left: calc((100% - 1440px)/2); }
  @media only screen and (max-width: 1199px) {
    .slick-prev {
      left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .slick-prev {
      left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .slick-prev {
      left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .slick-prev {
      left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .slick-prev {
      left: 15px; } }

.slick-next {
  right: calc((100% - 1440px)/2);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
  @media only screen and (max-width: 1199px) {
    .slick-next {
      right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .slick-next {
      right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .slick-next {
      right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .slick-next {
      right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .slick-next {
      right: 15px; } }

.slick-dots {
  position: absolute;
  bottom: 51px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 13; }
  .slick-dots li {
    font-size: 0;
    background: none;
    padding: 0;
    margin: 0 5px; }
    .slick-dots li button {
      padding: 0;
      font-size: 0;
      outline: none;
      border: none;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      background-color: #E9E9E9;
      border: 2px solid #fff; }
    .slick-dots li.slick-active button {
      background: #FF9218; }

.tslider .slick-slide,
.tslider {
  border-radius: 50px;
  background: #D9D9D9;
  height: 450px;
  overflow: hidden; }

.tslider .slick-slide div {
  height: 100%; }

.tslider .slick-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.tslider__w {
  position: relative; }

.tslider__content {
  position: absolute;
  left: 0;
  width: 100%;
  top: 60px;
  z-index: 12; }
  .tslider__content .contain {
    padding-left: 100px; }

.tslider__title {
  color: #373737;
  font-size: 60px;
  margin-bottom: 31px;
  font-family: "Jura", sans-serif; }
  .tslider__title span {
    color: #07acec; }

.tslider__text {
  color: #ABABAB;
  font-size: 20px;
  margin-bottom: 40px; }

.tslider__btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 360px;
  background: #ff9218;
  height: 61px;
  padding-left: 40px;
  padding-right: 40px; }

.categories {
  padding-top: 60px;
  padding-bottom: 76px; }

.categories__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.categories__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.categories__img-w {
  width: 163px;
  height: 163px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px; }

.categories__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.categories__text {
  display: inline-block;
  color: #07ACEC;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(7, 172, 236, 0.3); }

.sproducts__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }

.sproducts__col {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px; }

.sproducts__item {
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  background: white;
  height: 544px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.sproducts__top {
  position: relative;
  margin-bottom: 0px; }

.sproducts__label {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  cursor: pointer; }
  .sproducts__label input[type="checkbox"] {
    display: none; }
    .sproducts__label input[type="checkbox"] + span {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      border-radius: 32px;
      background: url("../img/heart.svg") center center no-repeat rgba(55, 55, 55, 0.3);
      width: 32px;
      height: 32px;
      border-top: 1px solid black;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; }
    .sproducts__label input[type="checkbox"]:checked + span {
      background: url("../img/heart2.svg") center center no-repeat #373737; }

.h2 {
  color: #373737;
  font-family: "Jura", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 132%;
  margin-bottom: 35px; }
  .h2._orange {
    color: #FF9218; }
  .h2._blue {
    color: #07ACEC; }
  .h2 span {
    position: relative;
    padding-right: 52px; }
    .h2 span:before {
      content: "";
      display: block;
      position: absolute;
      width: 34px;
      height: 34px;
      background: url("../img/h2.svg") no-repeat center;
      right: 0;
      top: 11px; }

.promo-products {
  padding-top: 75px;
  padding-bottom: 80px; }

.sproducts__img-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  overflow: hidden;
  border-radius: 50px; }
  .sproducts__img-w img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.sproducts__body {
  padding: 15px 31px 31px 31px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: auto; }

.sproducts__title a {
  color: #07ACEC;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(7, 172, 236, 0.3);
  display: inline;
  line-height: 1.4; }

.sproducts__rate {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 19px; }

.sproducts__bottom {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto; }

.sproducts__rate-txt {
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  margin-left: 4px; }

.sproducts__revs {
  color: #ABABAB;
  font-size: 16px;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  border-bottom: 1px solid rgba(171, 171, 171, 0.3); }
  .sproducts__revs:before {
    content: "";
    display: block;
    background-color: #e9e9e9;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    position: absolute;
    top: 6px;
    left: -11px; }

.sproducts__prices {
  margin-top: 43px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto; }

.sproducts__sale {
  background-color: #ff9218;
  border-radius: 100px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 30px; }

.sale__price {
  padding-right: 10px; }
  .sale__price:empty {
    display: none; }

.sproducts__price {
  color: #FF9218;
  font-size: 20px;
  font-weight: 700; }
  .sproducts__price:empty {
    display: none; }

.sale__per {
  padding: 0 7px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 8px;
  border-radius: 266.22px;
  border: 2px solid #ff9218;
  color: #ff9218;
  font-size: 14px;
  font-weight: 700;
  height: 26px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  padding-left: 15px;
  background: white url("../img/flash.svg") no-repeat left 8px center; }
  .sale__per:empty {
    display: none; }

.sale__img {
  margin-right: 4px; }

.sale__oldprice {
  margin-left: 14px;
  color: #ababab;
  font-size: 16px;
  text-decoration: line-through; }

.sproducts__actions {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.buy__quan {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 10px);
  border-radius: 66px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;
  /*&:before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 1px;
background-color: #E9E9E9;
}  
&:after {
content: "";
display: block;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 1px;
background-color: #E9E9E9;
}  */ }

.buy__quan > input {
  text-align: center;
  width: 39px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: #ABABAB; }
  .buy__quan > input::-webkit-input-placeholder {
    color: #ABABAB; }
  .buy__quan > input::-moz-placeholder {
    color: #ABABAB; }
  .buy__quan > input:-ms-input-placeholder {
    color: #ABABAB; }
  .buy__quan > input::placeholder {
    color: #ABABAB; }
  .buy__quan > input:hover, .buy__quan > input:active, .buy__quan > input:focus {
    outline: none; }

.buy__quan-choice {
  border-radius: 66px;
  border: 1px solid #E9E9E9;
  background: #FFF;
  width: 47px;
  height: 47px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 2; }
  .buy__quan-choice._minus {
    background: #fff url("../img/minus.svg") no-repeat center; }
  .buy__quan-choice._plus {
    background: #fff url("../img/plus.svg") no-repeat center; }

.sproducts__btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 47px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 360px;
  border: 2px solid #FF9218;
  background: white;
  color: #FF9218;
  font-size: 16px;
  font-weight: 700;
  width: calc(50% - 10px);
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.recommend-products {
  padding: 80px 0 80px; }

.mreviews__top {
  background-color: #07acec;
  border-radius: 50px 50px 0px 0px;
  padding-top: 42px;
  padding-bottom: 90px;
  position: relative; }
  .mreviews__top:before {
    content: "отзывы";
    display: block;
    position: absolute;
    top: calc(50% - 78px);
    left: 50%;
    font-family: "Jura", sans-serif;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.1;
    color: #FFF;
    text-align: center;
    font-size: 418px;
    line-height: 1; }

.reviews__h2 {
  color: white;
  text-align: center;
  margin-bottom: 0;
  position: relative; }

.mreviews__body {
  border-radius: 50px 50px 0px 0px;
  background: var(--White, #FFF);
  margin-top: -50px;
  padding-top: 81px;
  padding-bottom: 41px;
  position: relative;
  z-index: 2;
  position: relative; }
  @media (min-width: 1367px) {
    .mreviews__body .contain {
      max-width: 1230px; } }

.reviews__bgs div {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0; }

.reviews__fish-1 {
  width: 282px;
  height: 75px;
  background-image: url("../img/revs-bg-1.svg");
  left: -32px;
  top: 172px; }

.reviews__fish-2 {
  background-image: url("../img/revs-bg-2.svg");
  width: 448px;
  height: 118px;
  left: 74px;
  top: 477px; }

.reviews__fish-3 {
  background-image: url("../img/revs-bg-3.svg");
  top: 791px;
  left: -75px;
  width: 257px;
  height: 68px;
  background-size: 257px; }

.reviews__fish-4 {
  right: -137px;
  top: 159px;
  width: 380px;
  height: 100px;
  background-image: url("../img/revs-bg-4.svg"); }

.reviews__fish-5 {
  top: 442px;
  right: 165px;
  background-image: url("../img/revs-bg-5.svg");
  width: 222px;
  height: 58px; }

.reviews__fish-6 {
  width: 327px;
  height: 86px;
  top: 771px;
  right: 53px;
  background-image: url("../img/revs-bg-6.svg"); }

.mreviews__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px; }

.mreviews__col {
  padding: 21px 20px 20px;
  width: calc(50% - 10px);
  width: 50%;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  background-color: #FFF;
  position: relative; }

.mreviews__adr {
  color: var(--Orange, #FF9218);
  font-size: 26px;
  margin-bottom: 30px; }

.mapreviews {
  margin-bottom: 30px; }

.mapreviews__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.mapreviews__comp {
  color: var(--Black, #373737);
  font-size: 16px;
  font-weight: 700; }

.mapreviews__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.mapreviews__rate {
  margin-right: 14px;
  color: var(--Black, #373737);
  font-size: 50px;
  font-weight: 700; }

.mapreviews__stars-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px; }

.mapreviews__reviews {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .mapreviews__reviews li {
    margin-right: 8px; }
    .mapreviews__reviews li a {
      color: var(--Grey, #ABABAB);
      font-size: 16px; }

.addmark {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: var(--Divider, #E9E9E9);
  padding: 10px; }

.addmark__txt {
  color: var(--Black, #373737);
  font-size: 16px;
  font-weight: 700;
  display: inline-block; }

.addmark__btn {
  margin-left: 10px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background: var(--Blue, #07ACEC);
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 700; }

.revslist {
  margin-top: 10px;
  position: relative; }
  .revslist:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("../img/rev-gradiend.png");
    background-repeat: repeat-x;
    background-position: left bottom; }

.revslist__item {
  padding-top: 20px;
  padding-bottom: 42px; }
  .revslist__item + .revslist__item {
    border-top: 1px solid #e9e9e9; }
  .revslist__item:last-child {
    padding-bottom: 13px; }

.revslist__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.revslist__ava {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; }

.revslist__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.revslist__person {
  margin-left: 12px; }

.revslist__name {
  margin-bottom: 9px;
  color: var(--Black, #373737);
  font-size: 16px;
  font-weight: 700; }

.revslist__date {
  color: var(--Grey, #ABABAB);
  font-size: 16px; }

.revslist__stars {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  margin-bottom: 11px; }

.revslist__text {
  color: var(--Black, #373737);
  font-size: 16px;
  line-height: 1.2; }

.revslist__more-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6px;
  margin-bottom: 20px; }

.revslist__btn {
  color: var(--Blue, #07ACEC);
  font-size: 14px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 15px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  border-radius: 10px;
  background: var(--Divider, #E9E9E9); }

.revslist__more-txt {
  color: var(--Grey, #ABABAB);
  font-size: 14px;
  text-align: center; }

.fav {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border-radius: 50px 0px 0px 50px;
  background: var(--White, #FFF);
  box-shadow: rgba(5, 91, 127, 0.1) 0px 7px 16px 0px, rgba(5, 91, 127, 0.09) 0px 29px 29px 0px, rgba(5, 91, 127, 0.05) 0px 65px 39px 0px, rgba(5, 91, 127, 0.01) 0px 116px 46px 0px, rgba(5, 91, 127, 0) 0px 181px 51px 0px;
  position: fixed;
  right: 0;
  bottom: 200px;
  z-index: 12; }

.fav__info {
  display: inline-block;
  position: relative;
  margin-right: 17px; }

.fav__count {
  position: absolute;
  top: -5px;
  right: -5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ff9218;
  font-weight: 700;
  font-size: 8px;
  color: white; }

.fav__text {
  color: var(--Blue, #07ACEC);
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(7, 172, 236, 0.3);
  position: relative; }

.fav__text-after {
  background-image: url("../img/arr-r.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 0px;
  right: -15px; }

.bread {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px; }
  .bread li {
    margin-right: 8px;
    color: var(--Blue, #07ACEC);
    font-size: 16px;
    position: relative; }
    .bread li:first-child {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .bread li:first-child:before {
        content: "";
        display: block;
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        -webkit-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
                transform: translateY(-2px);
        margin-right: 8px;
        width: 16px;
        height: 16px;
        background: url("../img/home.svg") no-repeat center; }
    .bread li + li {
      margin-left: 10px; }
      .bread li + li:before {
        content: "";
        display: block;
        background-color: #e9e9e9;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        overflow: hidden;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        position: absolute;
        top: 6px;
        left: -11px; }
    .bread li a {
      color: var(--Grey, #ABABAB);
      border-bottom: 1px solid rgba(171, 171, 171, 0.3); }

select + .select2-container {
  width: 100% !important;
  max-width: 950px; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-radius: 20px 20px 0px 0px;
  border-bottom: none; }

.select2-container {
  border: none; }
  .select2-container.select2-container--open .select2-selection__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .select2-container .select2-selection--single {
    border: none;
    width: 100% !important;
    border-radius: 80px;
    border: 1px solid var(--Divider, #E9E9E9);
    height: 42px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      color: var(--Grey, #ABABAB);
      font-size: 16px;
      margin-right: 10px;
      padding-left: 0;
      padding-right: 0;
      white-space: nowrap;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      background: url("../img/arr-b-sort.svg") right center no-repeat;
      position: static;
      margin-bottom: 0px;
      width: 10px;
      height: 100%;
      margin-left: auto; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none; }
  .select2-container .select2-dropdown {
    border: none;
    border-radius: 0 0 10px 10px;
    overflow: hidden; }
  .select2-container .select2-search--dropdown {
    border: none; }
    .select2-container .select2-search--dropdown .select2-search__field {
      border: none; }
  .select2-container .select2-results {
    border: none;
    margin-top: 0px;
    border-top: none;
    background: #FFF;
    padding: 0px 0;
    border: 1px solid var(--Divider, #E9E9E9);
    border-top: none;
    border-radius: 0 0 20px 20px;
    overflow: hidden; }
  .select2-container .select2-results__option {
    border: none;
    padding: 17px 20px;
    color: var(--Grey, #ABABAB);
    font-size: 16px;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: unset; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #EDF3FA;
  color: #545454; }

.select2-container--default .select2-results__option--selected {
  color: #0071F5;
  font-weight: 500;
  background: #EDF3FA url("../img/sel-check.svg") no-repeat right 25px center; }
  .select2-container--default .select2-results__option--selected.select2-results__option--highlighted {
    color: #0071F5;
    background: #EDF3FA url("../img/sel-check.svg") no-repeat right 25px center; }

.catalog__top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.catalog__h1 {
  margin-bottom: 0px;
  color: var(--Blue, #07ACEC);
  font-size: 60px;
  font-weight: 700;
  font-family: "Jura", sans-serif; }

.catalog__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .catalog__actions ul.spagin {
    margin-left: 40px; }
  .catalog__actions select.catalog__select-1 + .select2-container {
    min-width: 168px; }
  .catalog__actions select + .select2-container + select + .select2-container {
    margin-left: 10px; }

ul.spagin {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  ul.spagin li {
    margin: 0 3px; }
    ul.spagin li a {
      border-radius: 80px;
      border: 1px solid var(--Divider, #E9E9E9);
      height: 42px;
      width: 42px;
      padding: 16px 10px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: var(--Grey, #ABABAB); }
      ul.spagin li a:hover {
        color: var(--Blue, #07ACEC);
        border: 1px solid var(--Blue, #07ACEC); }
      ul.spagin li a.active {
        color: var(--Blue, #07ACEC);
        font-weight: 700;
        border: 2px solid var(--Blue, #07ACEC); }
      ul.spagin li a.prev, ul.spagin li a.next {
        width: auto;
        padding-left: 15px;
        padding-right: 15px; }
      ul.spagin li a.none {
        width: auto;
        border: none;
        padding: 0 4px 7px 4px;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                    -ms-grid-row-align: flex-end;
                align-items: flex-end; }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top -503px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
