:root {
  --blue: #07ACEC; }

html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1440px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1440px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

@media only screen and (max-width: 1367px) {
  .contain {
    max-width: 1170px; } }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-regular.woff") format("woff"), url("../fonts/Calibri-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
/*top menu mnu*/
.menu__list > li:not(:last-child) {
  margin-right: 15px; }

.menu__list li {
  position: relative; }

.menu__list a.parent {
  margin-right: 25px; }

.menu__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__link {
  display: block;
  height: 20px; }

.sub-menu__list {
  position: absolute;
  top: 15px;
  padding-top: 5px;
  left: 0;
  display: none; }
  .sub-menu__list li {
    padding: 10px; }
  .sub-menu__list > li {
    background-color: #000; }

.sub-menu__link {
  color: #fff; }

.sub-sub-menu__list {
  left: 100%;
  top: 0;
  position: absolute;
  display: none; }
  .sub-sub-menu__list > li {
    background-color: #ccc; }

.menu-arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 0;
  top: calc(50% - 5px); }
  .menu-arrow.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.sub-menu__arrow {
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: none;
  border-bottom: 10px solid transparent; }

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block; }

body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block; }

body.touch .menu-arrow {
  display: block; }

body.touch .sub-menu__list.open {
  display: block; }

body.touch .sub-sub-menu__list.open {
  display: block; }

@media (max-width: 767px) {
  .menu__list {
    display: block; }
  .sub-menu__list {
    position: static; }
  .sub-sub-menu__list {
    position: static; }
  .sub-menu__arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
  .menu-arrow {
    top: 0px;
    right: 5px; }
  .sub-menu__list,
  .sub-sub-menu__list {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear; }
    .sub-menu__list.open,
    .sub-sub-menu__list.open {
      max-height: 300px; } }

/*end top menu mnu*/
.btn,
.btn-o,
*[class$="__btn"] {
  transition: 0.5s; }
  .btn:hover,
  .btn-o:hover,
  *[class$="__btn"]:hover {
    text-decoration: none; }

a:hover {
  text-decoration: none; }

.top {
  min-height: 42px;
  background-color: #07acec;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 13px;
  padding-bottom: 12px;
  position: relative; }
  .top:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 17px;
    background: url("../img/vawes.svg") repeat-x 0 0; }

.fish1 {
  position: absolute;
  left: 118px;
  bottom: 0; }

.fish4 {
  position: absolute;
  right: 52px;
  bottom: 0; }

.top__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.top__ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .top__ul li + li {
    margin-left: 40px; }
  .top__ul li a {
    color: white;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.fishes {
  width: 137px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 92px; }

.shops {
  padding-left: 23px;
  background-image: url("../img/anchor.svg");
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 22px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto; }
  .shops span {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    color: white;
    font-size: 16px;
    display: inline-block; }
  .shops:after {
    content: "";
    display: block;
    width: 8px;
    height: 4px;
    display: inline-block;
    background-image: url("../img/arr-b.svg");
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 1.3;
    margin-left: 9px; }

.user {
  line-height: 22px;
  padding-left: 23px;
  display: inline-block;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 40px; }
  .user span {
    color: #FFF;
    font-size: 16px;
    line-height: 1.1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.burger > img {
  margin-right: 10px; }

.top2 {
  padding: 20px 0 18px 0; }

.top2__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  display: inline-block; }

.top2__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 617px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.burger {
  color: #ff9218;
  font-size: 16px;
  font-weight: 700;
  line-height: 4.8;
  text-transform: uppercase;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  padding-left: 23px;
  padding-right: 23px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  border: 2px solid #FF9218;
  background: white;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 20px; }

.top2__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 2px solid #07ACEC;
  background: white;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 50px;
  overflow: hidden; }

.top2__input {
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  color: #07acec;
  font-size: 16px;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 50px; }
  .top2__input:focus, .top2__input:active {
    border: none;
    outline: none; }
  .top2__input::-webkit-input-placeholder {
    color: #07acec; }
  .top2__input::-moz-placeholder {
    color: #07acec; }
  .top2__input:-ms-input-placeholder {
    color: #07acec; }
  .top2__input::placeholder {
    color: #07acec; }

.top2__btn {
  display: inline-block;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 19px;
  height: 19px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 21px; }

.top2__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.top2__tel-w {
  margin-right: 0px; }

.top2__tel {
  color: #373737;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block; }

.top2__works {
  color: #ABABAB;
  font-size: 14px;
  margin-bottom: 0; }

.top2__cart {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px; }

.tcart__img-w {
  display: inline-block;
  position: relative;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.tcart__num {
  position: absolute;
  top: -5px;
  left: 50px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff9218;
  border-radius: 50%;
  overflow: hidden;
  color: white;
  font-size: 10px;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 19px;
  height: 19px; }

.tcart__text {
  margin-left: 10px;
  color: #07ACEC;
  font-size: 16px;
  border-bottom: 1px solid rgba(7, 172, 236, 0.3); }

.slick-arrow {
  position: absolute;
  z-index: 12;
  border: none;
  background: none;
  font-size: 0;
  background: #F5F7F9 url("../img/arr.svg") no-repeat center;
  top: 50%;
  width: 54px;
  height: 54px;
  background-color: #fdfdff;
  border-radius: 50%; }
  .slick-arrow li button {
    padding: 0;
    border: none; }

.slick-prev {
  left: calc((100% - 1440px)/2); }
  @media only screen and (max-width: 1199px) {
    .slick-prev {
      left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .slick-prev {
      left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .slick-prev {
      left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .slick-prev {
      left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .slick-prev {
      left: 15px; } }

.slick-next {
  right: calc((100% - 1440px)/2);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
  @media only screen and (max-width: 1199px) {
    .slick-next {
      right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .slick-next {
      right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .slick-next {
      right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .slick-next {
      right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .slick-next {
      right: 15px; } }

.slick-dots {
  position: absolute;
  bottom: 51px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 11; }
  .slick-dots li {
    font-size: 0;
    background: none;
    padding: 0;
    margin: 0 5px; }
    .slick-dots li button {
      padding: 0;
      font-size: 0;
      outline: none;
      border: none;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      background-color: #E9E9E9;
      border: 2px solid #fff; }
    .slick-dots li.slick-active button {
      background: #FF9218; }

.tslider .slick-slide,
.tslider {
  border-radius: 50px;
  background: #D9D9D9;
  height: 450px;
  overflow: hidden; }

.tslider .slick-slide div {
  height: 100%; }

.tslider .slick-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.tslider__w {
  position: relative; }

.tslider__content {
  position: absolute;
  left: 0;
  width: 100%;
  top: 60px;
  z-index: 12; }
  .tslider__content .contain {
    padding-left: 100px; }

.tslider__title {
  color: #373737;
  font-size: 60px;
  margin-bottom: 31px;
  font-family: "Jura", sans-serif; }
  .tslider__title span {
    color: #07acec; }

.tslider__text {
  color: #ABABAB;
  font-size: 20px;
  margin-bottom: 40px; }

.tslider__btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 360px;
  background: #ff9218;
  height: 61px;
  padding-left: 40px;
  padding-right: 40px; }

.categories {
  padding-top: 60px;
  padding-bottom: 76px; }

.categories__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.categories__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.categories__img-w {
  width: 163px;
  height: 163px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px; }

.categories__img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.categories__text {
  display: inline-block;
  color: #07ACEC;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(7, 172, 236, 0.3); }

.sproducts__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }

.sproducts__col {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px; }

.sproducts__item {
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  background: white; }

.sproducts__top {
  position: relative;
  margin-bottom: 0px; }

.sproducts__label {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  cursor: pointer; }
  .sproducts__label input[type="checkbox"] {
    display: none; }
    .sproducts__label input[type="checkbox"] + span {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      border-radius: 32px;
      background: url("../img/heart.svg") center center no-repeat rgba(55, 55, 55, 0.3);
      width: 32px;
      height: 32px;
      border-top: 1px solid black;
      -webkit-flex: none;
          -ms-flex: none;
              flex: none; }
    .sproducts__label input[type="checkbox"]:checked + span {
      background: url("../img/heart2.svg") center center no-repeat #373737; }

.h2 {
  color: #373737;
  font-family: "Jura", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 132%;
  margin-bottom: 35px; }
  .h2._orange {
    color: #FF9218; }
  .h2._blue {
    color: #07ACEC; }
  .h2 span {
    position: relative;
    padding-right: 52px; }
    .h2 span:before {
      content: "";
      display: block;
      position: absolute;
      width: 34px;
      height: 34px;
      background: url("../img/h2.svg") no-repeat center;
      right: 0;
      top: 11px; }

.sproducts__img-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  overflow: hidden;
  border-radius: 50px; }
  .sproducts__img-w img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.sproducts__body {
  padding: 31px;
  display: block; }

.sproducts__title {
  color: #07ACEC;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(7, 172, 236, 0.3);
  display: inline; }

.sproducts__rate {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px; }

.sproducts__rate-txt {
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  margin-left: 4px; }

.sproducts__revs {
  color: #ABABAB;
  font-size: 16px;
  display: inline-block;
  margin-left: 8px;
  position: relative;
  padding-left: 11px;
  border-bottom: 1px solid rgba(171, 171, 171, 0.3); }

.sproducts__revs-bff {
  background-color: #e9e9e9;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: absolute;
  top: 50%;
  left: 0px; }

.sproducts__prices {
  margin-top: 43px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sproducts__sale {
  background-color: #ff9218;
  border-radius: 100px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 30px;
  padding-right: 12px; }

.sale__per {
  padding: 0 8px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 8px;
  border-radius: 266.22px;
  border: 2px solid #ff9218;
  background: white;
  color: #ff9218;
  font-size: 14px;
  font-weight: 700;
  height: 25px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sale__img {
  margin-right: 4px; }

.sale__oldprice {
  margin-left: 14px;
  color: #ababab;
  font-size: 16px;
  text-decoration: line-through; }

.sproducts__actions {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.buy__quan {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 10px);
  border-radius: 66px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;
  /*&:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #E9E9E9;
    }  
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #E9E9E9;
    }  */ }

.buy__quan > input {
  text-align: center;
  width: 39px;
  font-size: 16px;
  font-weight: 700;
  border: none; }
  .buy__quan > input:hover, .buy__quan > input:active, .buy__quan > input:focus {
    outline: none; }

.buy__quan-choice {
  border-radius: 66px;
  border: 1px solid #E9E9E9;
  background: #FFF;
  width: 47px;
  height: 47px;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 2; }
  .buy__quan-choice._minus {
    background: #fff url("../img/minus.svg") no-repeat center; }
  .buy__quan-choice._plus {
    background: #fff url("../img/plus.svg") no-repeat center; }

.sproducts__btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 47px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 360px;
  border: 2px solid #FF9218;
  background: white;
  color: #FF9218;
  font-size: 16px;
  font-weight: 700;
  width: calc(50% - 10px);
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top -10px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
